[user]
	name = bremme
	email = 6715707+bremme@users.noreply.github.com
[init]
	defaultBranch = main
	templateDir = ~/.git-template
[pull]
	ff = true
[push]
	autoSetupRemote = true
[core]
	hooksPath = ~/.git-template/hooks
[include]
	path = ~/.gitconfig-local
# Add for example signing config to a local gitconfig file
#[user]
#	signingkey=1234567890ABCDEF
#[commit]
#	gpgSign = true
