
{{ if eq .chezmoi.os "darwin" }}
PREFIX_ANTIDOTE="$(brew --prefix)/opt/antidote/share/antidote"
{{ else }}
PREFIX_ANTIDOTE="${ZDOTDIR:-$HOME}/.antidote"
{{ end }}

# source antidote
source $PREFIX_ANTIDOTE/antidote.zsh

# initialize plugins statically with ${ZDOTDIR:-$HOME}/.zsh_plugins.txt
antidote load

autoload -Uz compinit; compinit

# Look custom files
for file in ~/.config/zsh/custom/*.zsh; do
    [[ -f "$file" ]] && source "$file"
done
